
.wrp {
  background-color: rgba(rgba(255, 0, 0, 0.2),0.3) !important;
  border-radius: 5px;
  font-size: 13px ;
  padding:5px;
  color: red;
  overflow: visible;
  white-space: normal;
  width: 300px;
  line-height: 90%;
  text-align: center !important
}

@media (max-width: 30em) {
  .wrp {
    width: 250px;
    overflow: visible;
    white-space: normal
  }
}

@media (max-width: 20em) {
  .wrp {
    width: 200px;
    overflow: visible;
    white-space: normal
  }
}