//
// Countdown Timer
// --------------------------------------------------


.mw-countdown {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  text-align: center;

  .mw-countdown-value {
    font-weight: $countdown-value-font-weight;
  }
  .mw-countdown-label {
    display: block;
    margin: {
      top: .125rem;
      left: .125rem;
    }
    @include font-size($countdown-label-font-size);
  }
  .mw-countdown-days,
  .mw-countdown-hours,
  .mw-countdown-minutes,
  .mw-countdown-seconds {
    margin: {
      right: $spacer;
      bottom: $spacer * .75;
    }
  }
  .mw-countdown-seconds { margin-right: 0; }
}


// Overriding countdown label font-size

.mw-countdown.h1 .mw-countdown-label {
  @include font-size($countdown-label-font-size * .85);
}
